<header>
  <div>
    <div style="float: left; vertical-align: middle;"><%= image_tag("optimislogo.jpg", :alt => "Optimis Pivopt") %></div>
    <div style="float: left; vertical-align: middle; padding-top: 15px"><h2>Optimis Pivotal Tracker Project Roundup</h2></div>
  </div>
  <div style="clear: both;"></div>
  <nav class="round">
  <ul>
    <li><%= link_to "Home", '#' %></li>
    <li><%= link_to "Help", '#' %></li>
    <li><%= link_to "Sign in", '#' %></li>
   </ul>
  </nav>
</header>